.body{
    height: 100%;
    width: 100%;
}

#logo{
    height: 60px;
    width: 60px;
}

#_img{
    height: 150px;
    width: 150px;
}

#socialsites{
    height:20px;
    width:22px;
}