.body{
    width: 100%;
    height: 100%;
}

#logo{
    height: 60px;
    width: 60px;
}

#_img{
    height: 250px;
    width: 250px;
}
#socialsites{
    height: 20px;
    width: 22px;
}