.body{
    width: 100%;
    height: 100%;
}

#logo{
    width: 60px;
    height: 60px;
}

#hotel{
    width: 500px;
    height: 500px;
}

#socialsites{
    height: 20px;
    width: 22px;
}